<div class="grid">
    <section class="flex flex-column justify-center align-center light ">
        <div class="flex flex-column align-center content">
            <img src="/images/logo.png" alt="Logo Angular">
            <div class="flex flex-column text">
                <h2 class="headline-large">Crear publicación</h2>
                <p>Por favor, rellena los datos de formulario para añadir una publicación al blog.</p>
            </div>
            <div class="flex flex-column form">
                <div class="input-wrapper">
                    <label for="title" class="label-medium">Título (obligatorio)</label>
                    <input type="text" [(ngModel)]="entry.title" name="title" placeholder="Título de la noticia">
                </div>
                <div class="input-wrapper">
                    <label for="url-foto" class="label-medium">URL foto (obligatorio)</label>
                    <input type="url" [(ngModel)]="entry.url_foto" name="url-foto" placeholder="URL de la foto">
                </div>
                <div class="textarea-wrapper">
                    <label for="entry-content" class="label-medium">Texto (obligatorio)</label>
                    <textarea [(ngModel)]="entry.entry_content" name="entry-content" placeholder="Texto de la noticia"></textarea>
                </div>
                <div class="input-wrapper">
                    <label for="date" class="label-medium">Fecha (obligatorio)</label>
                    <input type="date" [(ngModel)]="entry.date" name="date" placeholder="dd/mm/yyyy">
                </div>
                <button (click)="saveEntry()" class="btn btn primary">Guardar noticia</button>
            </div>
        </div>
    </section>
    <section class="flex flex-column dark">
        <div class="flex flex-column content">
            <div class="flex flex-column text">
                <h2 class="headline-medium">Listado de publicaciones</h2>
                <p>Por favor, rellena los datos de formulario para añadir una publicación al blog.</p>
            </div>
        </div>
        <div class="flex flex-column content">
            <ul class="flex flex-column">
                <!--Aquí se mete arriba for-->
                @for (entry of entryList; track entry.title) {
                    <li>
                        <article class="flex flex-row">
                            <figure>
                                <img [src]="entry.url_foto" [alt]="entry.title">
                            </figure>
                            <div class="flex flex-column li-content">
                                <h3 class="headline-small">{{entry.title}}</h3>
                                <p>{{entry.entry_content}}</p>
                                <span class="label-medium">{{entry.date | date:'dd/MM/yyyy'}}</span>
                                </div>
                        </article>
                    </li>
                }
            </ul>
        </div>
    </section>
</div>



