.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-none);
}

.light {
    background: linear-gradient(180deg,
        hsla(230, 50%, 34%, 0.05) 0%,
        rgba(255, 255, 255, 0.1) 100%);
        padding: var(--padding-2xl);
        gap: var(--gap-l);

    .content {
            max-width: 420px;
            gap: var(--gap-2xl);
    }

    img {
        display: block;
        width: 108px;
        height: 108px;
    }

    .text {
        text-align: center;
        gap: var(--gap-s);
    }

    .form {
        width: 100%;
        gap: var(--gap-l);
    }

}

.dark {
    background-color: var(--color-on-primary-container);
    padding: var(--padding-2xl);
    gap: var(--gap-l);

    .content {
        gap: var(--gap-2xl);
    }
    
    .text {
        gap: var(--gap-s);
    }

    h2 {
        color: var(--color-primary-container);
    }

    p {
        color: var(--color-on-primary);
    }

}

ul {
    margin: var(--margin-none);
    padding: var(--padding-none);
    gap: var(--gap-l);
    list-style: none;

    img {
        display: block;
        width: 118px;
        height: 118px;
        border-radius: var(--border-radius-l);
        }

    li {
        display: flex;
        flex-direction: row;
        padding: var(--padding-l);
        gap: var(--gap-l);
        border-radius: var(--border-radius-xl);
    }

    li:hover {
        background-color: var(--color-opacity-primary-12);
    }

    h3 {
        color: var(--color-primary-container);
        min-height: 3.25rem;
        }
    
    p {
        color: var(--color-on-primary);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: var(--margin-none);
        min-height: 2rem;
    }

    span {
        color: var(--color-on-primary);
    }

    .li-content {
        gap: var(--gap-2xs);
    }
}


@media (max-width: 992px) {
    .grid {
            grid-template-columns: 1fr;}

    .light {
        .content {
            max-width: 100%;
            width: 100%;
        }
    }
}

