/*Layout*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-none);
    height: 100%;
}

.light {
    background: linear-gradient(180deg,
        hsla(230, 50%, 34%, 0.05) 0%,
        rgba(255, 255, 255, 0.1) 100%);
        padding: var(--padding-2xl);
        gap: var(--gap-l);

    .content {
            max-width: 420px;
            gap: var(--gap-2xl);
    }

    img {
        display: block;
        width: 108px;
        height: 108px;
    }

    .text {
        text-align: center;
        gap: var(--gap-s);
    }

    .form {
        width: 100%;
        gap: var(--gap-l);
    }

}

.dark {
    background-color: var(--color-on-primary-container);
    padding: var(--padding-2xl);
    gap: var(--gap-l);

    .content {
        gap: var(--gap-2xl);
    }
    
    .text {
        gap: var(--gap-s);
    }

    h2 {
        color: var(--color-primary-container);
    }

    p {
        color: var(--color-on-primary);
    }

}

ul {
    margin: var(--margin-none);
    padding: var(--padding-none);
    gap: var(--gap-l);
    list-style: none;

    li {
        border-radius: var(--border-radius-xl);
    }

    li:hover {
        background-color: var(--color-opacity-primary-12);
    }

    article {
        flex-direction: row;
        padding: var(--padding-l);
        gap: var(--gap-l);
    }
    
    figure {
        display: flex;
        border-radius: var(--border-radius-l);
        padding: var(--padding-none);
        margin: var(--margin-none);

        img {
            width: 118px;
            height: 118px;
        }
    }

    h3 {
        color: var(--color-primary-container);
        min-height: 3.25rem;
        }
    
    p {
        color: var(--color-on-primary);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: var(--margin-none);
        min-height: 2rem;
    }

    span {
        color: var(--color-on-primary);
    }

    .li-content {
        gap: var(--gap-2xs);
    }
}

/*Inputs*/
.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2xs);

    label {
        color: var(--color-on-surface-var);
    }

    input {
        font-family: inherit;
        font-size: inherit;
        width: 100%;
        min-height: 54px;
        padding: var(--padding-s);
        border-radius: var(--border-radius-s);
        border: 1px solid var(--color-outline-var);
    }

    input::placeholder {
        color: var(--color-on-surface-var);
    }

    input[type="date"] {
        font-family: inherit;
        font-size: inherit;
    }

}

.textarea-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2xs);

    label {
        color: var(--color-on-surface-var);
    }

    textarea {
        font-family: inherit;
        font-size: inherit;
        width: 100%;
        min-height: 120px;
        max-height: 480px;
        overflow: auto;
        padding: var(--padding-s);
        border-radius: var(--border-radius-s);
        border: 1px solid var(--color-outline-var);
        resize: vertical;
    }

    textarea::placeholder {
        color: var(--color-on-surface-var);
    }

}

/*Buttons*/
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    cursor: pointer;
    padding: var(--padding-m);
    border-radius: var(--border-radius-full);
    border: solid 1px;
    gap: var(--gap-s);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
}

.btn:disabled {
    opacity: 60%;
    cursor: not-allowed;
}

.btn.primary {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-on-primary);
}

.btn.primary:hover {
    background: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}

.btn.primary:active {
    background: var(--color-primary-active);
    border-color: var(--color-primary-active);
}


@media (max-width: 992px) {
    .grid {
            grid-template-columns: 1fr;}

    .light {
        .content {
            max-width: 100%;
            width: 100%;
        }
    }
}

